name: Build App
run-name: Build App
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths-ignore:
      - '**/README.md'

  workflow_dispatch:
    inputs:
      merge-pr:
        type: number
        required: false
        description: Merge a specific PR (by PR number) before building.

jobs:
  collect-build-info:
    name: Collect Build Info
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      build-notes: ${{ steps.generate-build-notes.outputs.build-notes }}
      should-build: ${{ steps.should-build.outputs.should_build }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          filter: 'blob:none' # https://github.blog/2020-12-21-get-up-to-speed-with-partial-clone-and-shallow-clone/#user-content-blobless-clones
      - name: Get version
        id: get-version
        run: |
          version_tag=$(git describe --tags || echo "v0.0.0-$(git rev-list --count HEAD)-$(git rev-parse --short=8 HEAD)")
          version="${version_tag/#v/}"
          echo "Version: $version"
          echo "version=${version}" >> $GITHUB_OUTPUT
      - name: Generate build notes
        id: generate-build-notes
        uses: zetavg/generate-build-notes-action@57ab7dd483898bfee3e563ceca1b335c172c5e00
        with:
          github-token: ${{ github.token }}
      - name: Determine if we should build
        id: should-build
        env:
          IS_PR_DRAFT: ${{ github.event.pull_request.draft }}
          IS_PR_FROM_FORK: ${{ github.event.pull_request.head.repo.fork }}
        run: |
          if [ "$IS_PR_DRAFT" = 'true' ]; then
            echo "PR is a draft, skipping build."
            echo "should_build=false" >> $GITHUB_OUTPUT
          elif [ "$IS_PR_FROM_FORK" = 'true' ]; then
            echo "PR is from a fork, skipping build."
            echo "should_build=false" >> $GITHUB_OUTPUT
          else
            echo "should_build=true" >> $GITHUB_OUTPUT
          fi
      - name: Comment on PR if needed
        env:
          GITHUB_API_URL: ${{ github.api_url }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_TOKEN: ${{ github.token }}
          IS_PR_FROM_FORK: ${{ github.event.pull_request.head.repo.fork }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          if [ "$IS_PR_FROM_FORK" = 'true' ]; then
            curl -L \
              -X POST \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer $GITHUB_TOKEN" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              "$GITHUB_API_URL/repos/$GITHUB_REPOSITORY/issues/$PR_NUMBER/comments" \
              -d '{"body":"Hello world"}'
          fi

  build-ios-app:
    name: Build iOS App
    if: ${{ needs.collect-build-info.outputs.should-build == 'true' }}
    needs:
      - collect-build-info
    uses: ./.github/workflows/build-ios-app.yml
    secrets: inherit
    permissions:
      contents: read
      pull-requests: read
    with:
      environment: iOS
      version: ${{ needs.collect-build-info.outputs.version }}
      changelog: ${{ needs.collect-build-info.outputs.build-notes }}

  publish-results:
    name: Publish Results
    if: ${{ needs.collect-build-info.outputs.should-build == 'true' }}
    needs:
      - collect-build-info
      - build-ios-app
    runs-on: ubuntu-latest
    steps:
      - name: Publish results
        run: |
          echo "Version: ${{ needs.collect-build-info.outputs.version }}"
          echo "iOS build number: ${{ needs.build-ios-app.outputs.build-number }}"
